<h1>Listing users</h1>

<table id="users-table">
  <tr>
    <th>Nickname</th>
    <th>Name</th>
    <th>Surname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New User</a>